@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
  
    background: url("https://i1.faceprep.in/ProGrad/minion-background.png")
    background-size :   100%  100% ;



section {
    width:500px;
    background-color: white;
    margin: auto;
}
div {
    text-align: center;
}

p, input[type="text"]
  input[type="number"]
    textarea{
    width: 350px;
}
